body {
  font-family: Arial, "Hiragino Kaku Gothic ProN", "Hiraigino Sans", Meiryo;
  font-size: 16px;
  color: black; }

a {
  text-decoration-line: none; }
  a:hover {
    opacity: 0.8; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px; }

h1 {
  color: #24A8Bf; }

top-img {
  max-width: 100%; }

header {
  padding: 50px 0; }
  header img {
    width: 280px;
    margin: 0 auto;
    display: block; }

.main-visual {
  width: 100%; }

.gloval-nav {
  margin-top: 40px;
  margin-bottom: 90px; }
  .gloval-nav ul {
    display: flex;
    justify-content: center;
    list-style: none; }
    .gloval-nav ul li {
      margin-right: 80px;
      letter-spacing: 0.1em;
      font-size: 18px;
      line-height: 1; }
      .gloval-nav ul li:last-child {
        margin-right: 0; }
      .gloval-nav ul li a {
        color: black; }

.concept .container {
  display: flex;
  align-items: center; }
.concept .description {
  padding-left: 40px; }
.concept .subtitle {
  letter-spacing: 0.1em;
  margin-bottom: 20px; }
.concept h2 {
  font-size: 32px;
  color: #24A8BF;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  font-weight: normal; }
.concept p {
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 1.8; }
.concept img {
  width: 50%; }

.blog {
  padding-top: 100px;
  padding-bottom: 50px; }
  .blog h2 {
    color: #24A8BF;
    font-size: 32px;
    letter-spacing: 0.08em;
    line-height: 1;
    text-align: center;
    margin-bottom: 8px; }
  .blog .subtitle {
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
    letter-spacing: 0.3em;
    line-height: 1; }
  .blog .list {
    display: flex;
    flex-flow: row wrap; }
    .blog .list .article {
      margin: 0 30px 12px 0;
      width: calc((100% - 60px) / 3); }
      .blog .list .article:nth-child(3n) {
        margin-right: 0; }
      .blog .list .article:hover {
        opacity: 0.8; }
      .blog .list .article h3 {
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0;
        margin: 12px 0 6px 0; }
      .blog .list .article time {
        font-size: 12px; }
  .blog button {
    display: block;
    border: 1px solid #24A8BF;
    border-radius: 3px;
    height: 51px;
    width: 220px;
    margin: 30px auto 0 auto;
    color: #24A8BF;
    text-align: center; }
    .blog button:hover {
      opacity: 0.8; }

footer {
  background-color: black; }
  footer img {
    display: block;
    width: 180px;
    margin: 0 auto;
    padding: 70px 0 50px 0; }
  footer p {
    padding-bottom: 30px;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    color: #8b8b8b;
    text-align: center; }

@media screen and (max-width: 767px) {
  body {
    font-size: 15px;
    line-height: 1.7; }

  .container {
    padding: 0 20px; }

  header {
    padding: 30px 0; }
    header img {
      width: 160px;
      margin: 0 auto;
      display: block; }

  .gloval-nav {
    margin-top: 30px;
    margin-bottom: 70px; }
    .gloval-nav li {
      margin-right: 50px;
      font-size: 16px;
      letter-spacing: 0.1em;
      line-height: 1; }
      .gloval-nav li:last-child {
        margin-right: 0; }

  .concept .container {
    display: block;
    margin-bottom: 90px; }
    .concept .container img {
      width: 100%;
      margin-bottom: 30px; }
    .concept .container .description {
      padding-left: 20px; }
      .concept .container .description .subtitle {
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 0.1em;
        margin-bottom: 15px; }
      .concept .container .description h2 {
        font-size: 26px;
        line-height: 1.5;
        letter-spacing: 0.1em;
        margin-bottom: 20px; }
      .concept .container .description p {
        font-size: 15px;
        line-height: 1.8;
        letter-spacing: 0.1em; }

  .blog {
    padding-top: 0;
    padding-bottom: 0; }
    .blog .container {
      padding-top: 0;
      margin: 0 0 50px 0; }
      .blog .container h2 {
        font-weight: bold;
        font-size: 30px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 3px; }
      .blog .container .subtitle {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-align: center; }
      .blog .container .list {
        display: block;
        margin-bottom: 10px; }
        .blog .container .list .article {
          margin: 0 0 10px 0;
          width: 100%; }
          .blog .container .list .article img {
            width: 100%;
            margin-bottom: 12px; }
          .blog .container .list .article h3 {
            font-size: 15px;
            line-height: 1.6;
            margin: 0 0 0 2px; }
          .blog .container .list .article time {
            font-size: 12px;
            line-height: 1.7;
            letter-spacing: 0.05em; }
      .blog .container button {
        width: 100%;
        height: 50px; }
        .blog .container button:hover {
          opacity: 0.8; }

  footer img {
    padding: 60px auto 40px auto;
    width: 100px; }
  footer p {
    font-size: 10px;
    line-height: 1.7;
    letter-spacing: 0.05em;
    padding-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
